//Variables

// -- Styling
$sidepanel-clr: #ebebeb;
$nav-clr: #f8f8f8;
$darkgray-clr: #707070;
$white: #ffffff;

// -- Typography colors
$heading-clr: #143774;
$subheading-clr: #1792d2;
$navlinks-clr: #717171;

// -- General styling

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: $darkgray-clr;
}

header {
  background-color: $nav-clr;
  padding: 2em 0;
  text-align: center;
  margin-bottom: 2em;
}

a {
  color: #1792d2;
}

img {
  max-width: 100%;
}

// -- Typography styling

h1 {
  color: $heading-clr;
  font-family: "Lora", serif;
  font-weight: 400;
}

.logo {
  margin-bottom: 1em;

  .title {
    font-size: 2rem;
    font-family: "Lora", serif;
  }

  .subheading {
    font-weight: 700;
    font-size: 0.75rem;
    color: $subheading-clr;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
}

.navlinks a {
  color: #707070;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.article-date {
  font-size: .875rem;
}

.article-body {
  font-size: 1.125em;
  line-height: 1.75;
}

.article-link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
}

// -- Layout

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// -- Navigation links
.navlinks {
  list-style: none;
  display: flex;
  justify-content: center;

  li {
    margin: 0 1em;
  }

  a {
    text-decoration: none;
    padding: 0.25em 0;

    &:hover {
      color: $subheading-clr;
    }
  }
}

.curr-page {
  border-bottom: 1px solid $navlinks-clr;
}

//-- Featured article

.featured-article {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin-bottom: 3em;

  .article-img {
    order: -2;
  }

  .article-date {
    order: -1;
    margin: 2em 0 1.5em 0;
  }

  .article-title {
    margin-bottom: .75em;
  }

  .article-link {
    margin: 1.5em 0;
  }
}

//recent blog posts
.recent-article {
  display: flex;
  flex-direction: column;
}

.main-recent-article {
  order: -2;
  //margin-top: -1.5em;

  .article-body {
    margin: 1.5em 0;
  }

  .article-link {
    display: inline-block;
    margin-bottom: 4.5em;
  }
}

.secondary-recent-article {
  order: -3;

  .article-img {
    margin-bottom: 1em;
  }
  .article-date {
    text-align: right;
  }


}

@media (max-width: 675px) {
  .flex-container {
    flex-direction: column;
  }

  .navlinks {
    flex-direction: column;

    li {
      margin: 0.5em 0;
    }
  }
}
