* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #707070;
}

header {
  background-color: #f8f8f8;
  padding: 2em 0;
  text-align: center;
  margin-bottom: 2em;
}

a {
  color: #1792d2;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  color: #143774;
  font-family: "Lora", serif;
  font-weight: 400;
}

h2 {
  color: #143774;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
}

h3 {
  font-weight: 300;
  color: #143774;
  font-family: "Lora", serif;
  font-size: 1.125em;
}

.logo {
  margin-bottom: 1em;
}

.logo .title {
  font-size: 2rem;
  font-family: "Lora", serif;
}

.logo .subheading {
  font-weight: 700;
  font-size: 0.75rem;
  color: #1792d2;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.navlinks a {
  color: #707070;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.article-date,
.article-link {
  font-size: 0.875rem;
}

.article-body {
  font-size: 1.125em;
  line-height: 1.75;
}

.article-link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.abt-heading,
.recent-post-heading {
  text-transform: uppercase;
  letter-spacing: 0.1625em;
  line-height: 1.5;
}

.abt-msg {
  color: #143774;
  font-size: 0.875rem;
  line-height: 2;
}

.main-heading {
  font-family: 'Lora', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.main-subheading {
  color: #1792d2;
  font-size: 1.125rem;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 675px) {
  header .flex-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main {
    width: 70%;
  }
  aside {
    width: 25%;
  }
}

.navlinks {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navlinks li {
  margin: 0 1em;
}

.navlinks a {
  text-decoration: none;
  padding: 0.25em 0;
}

.navlinks a:hover {
  color: #1792d2;
}

.curr-page {
  border-bottom: 1px solid #717171;
}

@media (max-width: 675px) {
  .navlinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navlinks li {
    margin: 0.5em 0;
  }
}

/* ARTICLE SECTION */
.featured-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid black;
  margin-bottom: 3em;
}

.featured-article .article-img {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.featured-article .article-date {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 2em 0 1.5em 0;
}

.featured-article .article-title {
  margin-bottom: 0.75em;
}

.featured-article .article-link {
  margin: 1.5em 0;
}

.recent-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3em;
}

.recent-article .main-recent-article {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.recent-article .main-recent-article .article-body {
  margin: 1.5em 0;
}

.recent-article .secondary-recent-article {
  -webkit-box-ordinal-group: -2;
      -ms-flex-order: -3;
          order: -3;
}

.recent-article .secondary-recent-article .article-img {
  margin-bottom: 1em;
}

.recent-article .secondary-recent-article .article-date {
  text-align: right;
}

@media (min-width: 675px) {
  .recent-article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-recent-article {
    width: 68%;
  }
  .secondary-recent-article {
    width: 30%;
  }
  .article-img {
    width: 100%;
    min-height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  article:last-child .article-img {
    -o-object-position: left;
       object-position: left;
  }
}

/* SIDEPANEL */
.about-me,
.recent-posts {
  border: 20px solid #ebebeb;
  margin-bottom: 100px;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4em 1.5em 1.5em 1.5em;
}

.about-me .abt-heading {
  display: none;
}

.about-me .abt-img {
  height: 170px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1.5em;
}

.recent-posts {
  padding: 1.5em 1.5em 1em 1.5em;
}

.recent-posts .recent-post-heading {
  margin-bottom: 1em;
}

.side-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.5em;
}

.side-article .side-img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  height: 87px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0.5em;
}

.side-article .side-title {
  border-bottom: 1px solid #70707093;
  padding-bottom: 1em;
}

.recent-posts > div:last-child .side-title {
  border: none;
  padding-bottom: 0;
}

.recent-posts > div:nth-child(3) .side-img {
  -o-object-position: 50% 85%;
     object-position: 50% 85%;
}

@media (min-width: 675px) {
  .about-me {
    padding: 1em;
  }
  .about-me .abt-heading {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    display: block;
    margin-bottom: 1em;
  }
  .about-me .abt-img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -o-object-fit: cover;
       object-fit: cover;
    height: 133px;
  }
  .about-me .abt-msg {
    margin-bottom: 1em;
  }
}

/*ABOUT ME PAGE*/
main .main-img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .main-heading {
  margin: 2em 0 .5em 0;
}

main p {
  line-height: 1.5;
  margin: 1em 0;
}

.main > p:last-child {
  margin-bottom: 6em;
}

/*FOOTER section*/
footer {
  background-color: #143774;
  padding: 4em;
  text-align: center;
  color: white;
}
/*# sourceMappingURL=styles.css.map */